.box {
	background-color: lightblue;
	width: 200px;
	height: 200px;
	border: 2px solid black; /* fixed from 3px to 2px */

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	justify-content: center;
	align-items: center;
}

.box p {
	color: purple;
	margin: 0;
}
